.christmas{
  font-size: 45px;
  font-weight: bold; 
  text-align: center; 
  padding-bottom: 20px; 
  padding-top: 10px; 
}

.christmas,
.name-for-beat-container{
  font-family: 'Chivo Mono', sans-serif; 
}

.video-showcase{
  background-color: rgb(149, 218, 149);
}

.one-beat{
  padding-left: 100px; 
  padding-right: 100px;
}

.name-for-beat-container{
  font-size: 20px; 
  padding-left: 75px; 
}

.name-for-beat{
  font-weight: bold; 
  font-size: 45px; 
  line-height: 50px; 
}

@media (max-width: 1150px){
  .name-for-beat-container{
    text-align: center !important; 
    padding-left: 0;
  }
}